# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules

# Builds generales
dist
dist-ssr

# Archivos locales
*.local
.env*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron build outputs
dist_electron/
dist_electron/**/*.exe
dist_electron/**/*.asar
dist_electron/win-unpacked/resources/app.asar
dist_electron/win-unpacked/TPV Grupo Manhattan.exe
dist_electron/TPV Grupo Manhattan Setup 0.0.0.exe
